<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <% if(user){ %>
            <h1><%=user.userid%>님 어서오세요!</h1>
            <form action="/logout" method="post">
                <button type="submit">로그아웃</button>
            </form>
        <% } else { %>
            <form action="/loginForm" method="get">
                <button type="submit">로그인</button>
            </form>
        <% } %>
    </body>
</html>